@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply bg-indigo-900 font-poppins leading-7 scroll-smooth text-white
}
.btn{
    @apply max-w-max inline-block bg-sky-500 px-3 py-5 rounded-md cursor-pointer border-[1px] border-sky-300 hover:bg-white hover:text-indigo-900 transition-all
}
