@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* =================HTML TAGS=================== */
body{
    @apply bg-background font-poppins leading-7 scroll-smooth text-white
}
a{
    @apply text-primary
}
header{
    @apply h-screen pt-28 overflow-hidden 
}

/* ====================BUTTONS===================== */
.btn{
    @apply max-w-max inline-block text-primary px-4 py-3 rounded-md cursor-pointer border-[1px] border-primary hover:bg-white hover:text-background hover:border-transparent transition-all
}
.btn-primay{
    @apply bg-primary text-background
}

/* ==================Header==================== */
.header__container{
    @apply h-full text-center relative
}

/* ==========================CTA==================== */
.cta{
    @apply mt-10 flex gap-5 justify-center
}